#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 5%;
}

#profile {
  display: flex;
  width: 100%;
  padding: 23px;
  background: #c4c4c4;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 20%;
}

#profile-edit {
  color: #636bfb;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}

#profile-photo {
  margin: 0 auto;
}

#profile-photo img {
  border-radius: 999px;
  width: 25rem;
}

#profile-image {
  display: flex;
  justify-content: space-between;
}

.profile-image {
  border-radius: 999px;
}

#profile-title {
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding-top: 5%;
  font-size: 18px;
}

#profile-job {
  text-align: center;
  font-size: 14px;
  color: #7a7070;
}

#profile-description {
  text-align: center;
  font-size: 14px;
  color: #3a3939;
}

#profile-line {
  border: 1px solid black;
  width: 100%;
}


@media screen and (max-width: 1322px) {
  
  #profile-edit{
    font-size: 14px;
  }


  
}

@media screen and (max-width: 1144px) {

  #profile{
      width: 80%;
      margin: 0 auto;
  }


  
}