.modal {
  background: white;
  position: absolute;
  min-height: 100vh;
  top: -1rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  background: white;
  display: flex;
  padding: 5rem;
  width: 91vw;
  white-space: pre-wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-open {
  display: grid;
}

.modal-dialog-btn {
  margin-top: 2rem;
}
