.header {
  background: var(--color-black);
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.header-link {
  display: block;
  height: 3.5rem;
}
.header-link img {
  height: 100%;
}
.header-message {
  color: var(--color-yellow);
  font-weight: var(--font-medium);
}
@media screen and (min-width: 375px) {
  .header {
    padding: 0 5%;
  }
}
@media screen and (min-width: 600px) {
  .header {
    padding: 0 10%;
  }
  .header-message {
    font-size: 1.8rem;
  }
}
