#insignias {
  display: flex;
  width: 1014px;
  height: 150px;
  padding: 23px;
  background: #c4c4c4;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 70%;
  margin-left: 5%;
}

#insignias-image {
  display: inline-flex;
  justify-content: center;
  flex-basis: 82%;
}

#insignias-title {
  font-weight: bold;
  font-size: 18px;
}

#insignias-image img {
  border-radius: 999px;
  margin-left: 6%;
}


