@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.rectangulo{
    position: relative;
    width: 1920px;
    height: 137.5px;
    left: 0px;
    top: 1px;
    
    background: #EEEEEE;
}
.miperfilbotton{
    position: absolute;
    width: 264.63px;
    height: 69.57px;
    left: 387.23px;
    top: 34.96px;
    border-radius: 5px;
    background: #908F8F;
}
/* esto lo modifico al final */

  
.miperfilbotton:hover {
    background-color: #4CAF50;
    color:white;
  } 


.insigniasbotton{
    position: absolute;
    width: 264.63px;
    height: 69.57px;
    left: 680.87px;
    top: 34.96px;
    border-radius: 5px;
    background: #908F8F;

}

.gruposbotton{
    position: absolute;
    width: 264.63px;
    height: 69.57px;
    left: 974.5px;
    top: 34.96px;
    border-radius: 5px;
    background: #908F8F;

}

.eventosbotton{
    position: absolute;
    width: 264.63px;
    height: 69.57px;
    left: 1268.13px;
    top: 34.96px;
    border-radius: 5px;
    background: #908F8F;
  
    
}

.letras{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 85px;
    
    position: absolute;
    top: -9px;
    left: 130px;
    color: #000000;
}


.icono{
    position: absolute;
    top: 18px;
    left: 75px;
    font-size:30px
}