@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

/* .errorg{
    font-family:'Lato',sans-serif;
    height:100vh;
    transition:all 0.6s;
} */


.error{
    /* display: table-cell; */
    height:70vh;
    transition:all 0.6s;
    margin:0;
    color: #888;
    text-align: center;
}




.error h1{
    font-size:  8rem;  
    display:inline-block;
    padding-right: 5rem;
    padding-top:10%;
    animation: type .5s alternate infinite; 
    font-family: 'Lato', sans-serif; 
}

@keyframes type{
    from{box-shadow: inset -3rem 0rem 0rem #888;}
    to{box-shadow: inset -3rem 0rem 0rem transparent;}
}